body {
  font-family: "Courier New", Courier, monospace;
  background-color: #56bda2;
  color: #0b0e29;
  padding: 100px;
  text-align: center;
}

.materialize-text {
  color: #0b0e29;
}

#zipInput {
  background-color: #dbb23b;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 280px;
  text-align: center;
}

#zipInput::placeholder {
  color: #0b0e29;
}

#searchBtn {
  color: #dbb23b;
  background-color: #0b0e29;
}

#choicesHeader {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.boxes {
  border: 1px solid white;
  color: white;
  border-radius: 10px;
}

#food {
  background-color: #dbb23b;
}

#event {
  background-color: #2492a1;
}

.newFoodBtn {
  color: #dbb23b;
  background-color: #0b0e29;
  margin: 10px 0 25px 0;
}

.newFoodBtn:hover {
  color: #dbb23b;
  background-color: #0b0e29;
  box-shadow: 2px 5px 10px yellow;
}

.center {
  display: flex;
  width: 80%;
  margin: 0px auto;
}

.container {
  width: 90%;
}

/* Removes the conter from the input box visibility */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#inputError {
  font-style: italic;
  font-size: large;
  color: red;
}
